.slider {
    padding: 81px 0;
    position: relative;
    .slider__item {
        img {
            display: block;
            margin: 0 auto;
            width: 750px;
            height: 526px;
        }
    }
    
    .slider__prev {
        width: 31px;
        height: 31px;
        background: url(../icons/left.svg) center (center/cover) no-repeat;
        cursor: pointer;
        position: absolute;
        margin: -280px 2px 250px 160px;
        
    }
    .slider__next {
        width: 31px;
        height: 31px;
        background: url(../icons/right.svg) center (center/cover) no-repeat;
        cursor: pointer;
        position: absolute;
        margin: -280px 57px 60px 1080px;

    }
}