@media(max-width: 1199px) {
    .slider {
        .slider__prev {
            margin-left: 110px;
        }
    }

}

@media(max-width: 991px) {
    .header {
        justify-content: space-around;
    }
    .promo__header {
        margin: 0 auto;
    }
    .promo__subheader {
        margin: 0 auto;
        padding-top: 5px;
    }
    .promo__icons {
        margin: 0 auto;
        padding-top: 25px;
    }
    .button_main {
        width: 250px;
        height: 45px;
        margin-right: 10px;
    }
    .promo__link {
        margin-right: 15px;
    }
    .consultation {
        .container {
            padding: 20px 20px;
        }
    }
    .slider {
        .slider__prev {
            margin-left: 50px;
        }
        .slider__next {
            margin-left: 900px;
        }
    }
    .responses {
        padding-bottom: 0;
        &__wrapper {
            margin: 0;
            margin-left: 20px;
            min-width: 0;
        }
    }
    
}

@media(max-width: 767px) {
    .promo {
        padding: 20px 20px;
    }
    .header {
        justify-content: space-around;
    }
    .promo__header {
        margin: 0 auto;
    }
    .promo__subheader {
        padding-top: 15px;
        margin: 0 auto;
    }
    .promo__icons {
        padding-top: 15px;
        margin: 0 auto;
    }
    .button_main {
        width: 250px;
        height: 45px;
    }
    .advantages {
        padding: 35px 0 65px 0;
    }
    .advantages__title {
        margin-top: 15px;
    }
    .advantages__text {
        margin-top: 10px;
        font-size: 12px;
    }
    .consultation {
        padding: 12px 12px;
        min-height: auto;
        .container {
            padding: 20px 20px;
        }
        
    }
    .slider {
        padding: 50px 0;
        .slider__item {
            img {
                width: 70%;
                height: 350px;
            }
        }
        .slider__prev {
            margin: -165px 2px 250px 30px;
        }
        .slider__next {
            margin: -165px 57px 60px 700px;
        }
    }

    .catalog {
        padding-bottom: 10px;
    }

    .responses {
        max-width: 767px;
        position: relative;
        padding-bottom: 0;

        &__wrapper {
            margin: 0;
            padding-left: 30px;
            min-width: 750px;
        }
        &__img {
            img {
                width: 80%;
                height: 80%;
                margin-top: 50%;
            }
        }
        &__item {
            margin: 70px 180px;
            width: 500px;
        }
    }

}

@media(max-width: 575px) {
    .promo {
        background: url(../img/mainMob.jpg) center (center/cover) no-repeat;
        padding: 21px 0 21px 0;
    .header {
        display: flex;
        flex-direction: column;
        }
    }
    .header__logo {
        display: none;
        }
    .header__official {
        font-size: 18px;
        span {
            font-size: 20px;
            margin-top: 10px;
        }
       
    }
    .header__contacts {
        margin: 0 auto;
        }
    .header__phone {
        margin-top: 10px;
        }
    .header__contacts {
        button {
            font-size: 11px;
            margin-top: 10px;
        }
    }
    .promo__wrapper {
        margin-top: 45px;
        }
    .promo__header {
        display: inline-block;
        font-size: 30px;
        margin: 0 auto;
        }
    .promo__subheader {
        margin-top: 10px;
        }
    .promo__icons {
        flex-direction: column;
        justify-content: space-between;
        width: 100px;
        margin: 0 auto;
        
        }
    .promo__icon {
        margin-top: 10px;
        font-size: 19px;
        }
    .button {
        width: 72%;
        font-size: 12px;
        font-weight: bold;
        margin: 0 auto;
        height: 30px;
        margin-top: 20px;
        }
    .promo__link {
        margin: 0 auto;
        margin-top: 35px;
        }

    .advantages {
        padding: 30px 0;
        }
    h2 {
        font-size: 24px;
        }
    .advantages__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        }
    .advantages__item {
        margin-top: 40px;
        }
    .advantages__text {
        margin-top: 0;
        }
    .consultation {
        padding: 10px 10px;
        .title {
            padding: 5px 10px;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
        }
        .consultation__descr {
            padding: 15px 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
        }
        .feed-form {
            width: 250px;
            height: 200px;
            margin: 0 auto;
        }
        .button_submit {
            font-size: 12px;
            margin: 0 auto;
        }
    }
    .slider {
        padding: 40px 10px;
        .slider__item {
            img {
                width: 260px;
                height: 180px;
            }
        }
        .slider__prev {
            display: none;
        }
        .slider__next {
            display: none;
        }
        .slider__dots {
            width: 200px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            margin: 40px auto;
            .dot {
                width: 40px;
                height: 40px;
                background-color: $color-black;
                border-radius: 50%;
                cursor: pointer;            
            }
            .dot-active {
                width: 40px;
                height: 40px;
                background-color:$color-red;
            }
        }
    }
    .catalog {
        padding-bottom: 10px;
        .title {
            font-size: 20px;
        }
        &__tabs {
            margin-top: 0;
        }
            &__tab {
                margin-top: 30px;
                width: 85px;
                height: 45px;
                font-size: 9px;
                font-weight: 700;
            }
        .catalog-item {
            margin: 0 auto;
        }
    }
    .responses {
        padding: 10px;
        &__wrapper {
            padding: 10px;
            margin: 0;
            margin-top: 25px;
            min-width: 280px;
            position: relative;
        }
        &__item {
            padding: 10px;
            width: 290px;
            margin: 0 auto;
            text-align: left;
            padding-top: 120px;
        }
        &__img {
            width: 100%;
            img {
                width: 100px;
                height: 100px;
                display: block;
                margin: 0 auto;
            }
        }
        
    }
    .footer {
        &__info {
            padding: 15px 15px;
            width: 93%;
            height: 200px;
        }
        &__addr {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__phone {
            font-size: 28px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            img {
                width: 50%;
            }
        }
    }



    .overlay {
        .modal {
            width: 200px;
            padding: 10px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
                margin-top: 10px;
            }
            .feed-form {
                input {
                    width: 180px;
                }
            }
        }
        .button_submit {
            margin: 0;
            width: 60%;
        }
       
    }
    
}
    


